.ion-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lays-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-container{
    display: flex;
    gap: 32px;
}

.button{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
}

.detail-button{
    padding: 8px;
    border-radius: 8px;
    color: #DE0B66;
    padding-left: 32px;
    padding-right: 32px;
}

.input-button{
    width: 30%;
    padding: 8px;
    border-radius: 8px;
}

ion-button{
    width: 100%;
}

.buttons-container{
    width: 100%;
  
}

.button-save{
    width: 100%;
    background-color: #eb445a;
    height: 25px;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 16px;
}