<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>CrearPedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">CrearPedido</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form">
    <!-- Lista desplegable para seleccionar productos (seleccionar varios) -->
    <ion-item>
      <ion-label>Productos</ion-label>
      <ion-select formControlName="productos" multiple="true">
        <ion-select-option value="producto1">Producto 1</ion-select-option>
        <ion-select-option value="producto2">Producto 2</ion-select-option>
        <ion-select-option value="producto3">Producto 3</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Lista desplegable para seleccionar un cliente -->
    <ion-item>
      <ion-label>Cliente</ion-label>
      <ion-select formControlName="cliente">
        <ion-select-option value="cliente1">Cliente 1</ion-select-option>
        <ion-select-option value="cliente2">Cliente 2</ion-select-option>
        <ion-select-option value="cliente3">Cliente 3</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Lista desplegable para seleccionar un repartidor -->
    <ion-item>
      <ion-label>Repartidor</ion-label>
      <ion-select formControlName="repartidor">
        <ion-select-option value="repartidor1">Repartidor 1</ion-select-option>
        <ion-select-option value="repartidor2">Repartidor 2</ion-select-option>
        <ion-select-option value="repartidor3">Repartidor 3</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="lays-container" >
      <img src="./assets/icon/PapasFritas.png" alt="Papas" class="ion-padding">
      <img src="./assets/icon/PapasFritas.png" alt="Papas" class="ion-padding">
      <img src="./assets/icon/PapasFritas.png" alt="Papas" class="ion-padding">
    </div>
  </form>

  <div class="product-container ion-center" *ngIf="products" >
    <button class="input-button">{{ products[0].producto }}</button>
    <button class="input-button">Stock: {{ products[0].cantidad }}</button>
    <button class="button" (click)="agregarProducto1()">+</button>
    <p class="number">{{pedido1}}</p>
    <button class="button" (click)="restarProducto1()">-</button>
    <button class="detail-button">Detalle</button>
  </div>
  <div class="product-container ion-center" *ngIf="products" >
    <button class="input-button">{{ products[1].producto }}</button>
    <button class="input-button">Stock: {{ products[1].cantidad }}</button>
    <button class="button" (click)="agregarProducto2()">+</button>
    <p class="number">{{pedido2}}</p>
    <button class="button" (click)="restarProducto2()">-</button>
    <button class="detail-button">Detalle</button>
  </div>
  <div class="product-container ion-center" *ngIf="products" >
    <button class="input-button">{{ products[2].producto }}</button>
    <button class="input-button">Stock: {{ products[2].cantidad }}</button>
    <button class="button" (click)="agregarProducto3()">+</button>
    <p class="number">{{pedido3}}</p>
    <button class="button" (click)="restarProducto3()">-</button>
    <button class="detail-button">Detalle</button>
  </div>
  <div class="product-container ion-center" *ngIf="products" >
    <button class="input-button">{{ products[3].producto }}</button>
    <button class="input-button">Stock: {{ products[3].cantidad }}</button>
    <button class="button" (click)="agregarProducto4()">+</button>
    <p class="number">{{pedido4}}</p>
    <button class="button" (click)="restarProducto4()">-</button>
    <button class="detail-button">Detalle</button>
  </div>
  <div class="product-container ion-center" *ngIf="products" >
    <button class="input-button">{{ products[4].producto }}</button>
    <button class="input-button">Stock: {{ products[4].cantidad }}</button>
    <button class="button" (click)="agregarProducto5()">+</button>
    <p class="number">{{pedido5}}</p>
    <button class="button" (click)="restarProducto5()">-</button>
    <button class="detail-button">Detalle</button>
  </div>
  <div class="product-container ion-center" *ngIf="products" >
    <button class="input-button">{{ products[5].producto }}</button>
    <button class="input-button">Stock: {{ products[5].cantidad }}</button>
    <button class="button" (click)="agregarProducto6()">+</button>
    <p class="number">{{pedido6}}</p>
    <button class="button" (click)="restarProducto6()">-</button>
    <button class="detail-button">Detalle</button>
  </div>
  <div class="buttons-container">
    <button class="button-save" (click)="guardarProductos()">Guardar</button>
  </div>
</ion-content>
