<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>CrearPedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">CrearPedido</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form">
    <!-- Lista desplegable para seleccionar un cliente -->
    <ion-item>
      <ion-label>Cliente</ion-label>
      <ion-select formControlName="cliente" >
        <ion-select-option [value]="cliente" *ngFor="let cliente of clientes">{{cliente.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

        <!-- Lista desplegable para seleccionar un repartidor  -->
    
    <ion-item>
      <ion-label>Repartidor</ion-label>
      <ion-select formControlName="repartidor">
        <ion-select-option *ngFor="let repartidor of repartidores" [value]="repartidor">{{ repartidor.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="lays-container" >
      <img src="./assets/icon/PapasFritas.png" alt="Papas" class="ion-padding">
      <img src="./assets/icon/PapasFritas.png" alt="Papas" class="ion-padding">
      <img src="./assets/icon/PapasFritas.png" alt="Papas" class="ion-padding">
    </div>
  </form>

  <div class="product-container ion-center" *ngIf="products" >
    <button class="input-button">{{ products[0].producto }}</button>
    <button class="input-button">Stock: {{ products[0].cantidad }}</button>
    <button class="button" (click)="agregarProducto1()">+</button>
    <p class="number">{{pedido1}}</p>
    <button class="button" (click)="restarProducto1()">-</button>
    <button class="detail-button" (click)="toDetail(products[0].id)">Detalle</button>
  </div>
  <div class="product-container ion-center" *ngIf="products" >
    <button class="input-button">{{ products[1].producto }}</button>
    <button class="input-button">Stock: {{ products[1].cantidad }}</button>
    <button class="button" (click)="agregarProducto2()">+</button>
    <p class="number">{{pedido2}}</p>
    <button class="button" (click)="restarProducto2()">-</button>
    <button class="detail-button" (click)="toDetail(products[1].id)">Detalle</button>
  </div>
  <div class="product-container ion-center" *ngIf="products" >
    <button class="input-button">{{ products[2].producto }}</button>
    <button class="input-button">Stock: {{ products[2].cantidad }}</button>
    <button class="button" (click)="agregarProducto3()">+</button>
    <p class="number">{{pedido3}}</p>
    <button class="button" (click)="restarProducto3()">-</button>
    <button class="detail-button" (click)="toDetail(products[2].id)">Detalle</button>
  </div>
  <div class="product-container ion-center" *ngIf="products" >
    <button class="input-button">{{ products[3].producto }}</button>
    <button class="input-button">Stock: {{ products[3].cantidad }}</button>
    <button class="button" (click)="agregarProducto4()">+</button>
    <p class="number">{{pedido4}}</p>
    <button class="button" (click)="restarProducto4()">-</button>
    <button class="detail-button" (click)="toDetail(products[3].id)">Detalle</button>
  </div>
  <div class="product-container ion-center" *ngIf="products" >
    <button class="input-button">{{ products[4].producto }}</button>
    <button class="input-button">Stock: {{ products[4].cantidad }}</button>
    <button class="button" (click)="agregarProducto5()">+</button>
    <p class="number">{{pedido5}}</p>
    <button class="button" (click)="restarProducto5()">-</button>
    <button class="detail-button" (click)="toDetail(products[4].id)">Detalle</button>
  </div>
  <div class="product-container ion-center" *ngIf="products" >
    <button class="input-button">{{ products[5].producto }}</button>
    <button class="input-button">Stock: {{ products[5].cantidad }}</button>
    <button class="button" (click)="agregarProducto6()">+</button>
    <p class="number">{{pedido6}}</p>
    <button class="button" (click)="restarProducto6()">-</button>
    <button class="detail-button" (click)="toDetail(products[4].id)">Detalle</button>
  </div>
  <div class="buttons-container">
    <button class="button-save" (click)="guardarProductos()">Imprimir pedido</button>
  </div>
</ion-content>
