ion-content.contacto{

    --ion-background-color:  linear-gradient(180deg, rgba(245, 7, 1, 0.83) 0%, rgba(245, 7, 1, 0.605208) 99.99%, rgba(245, 7, 1, 0) 100%);
 
}

    

.texto-telefono{

    font-size: xx-large;
    
}

.icon-wpp{
    color: white;
    padding: 50px;
    font-size: 40px

}

.texto-mail{
    font-size: xx-large;
}

.icon-mail{
    color: white;
    padding: 50px;
    font-size: 40px;
}



.io-imagen{
    display: flex;
    justify-content: center;
    align-content: center;
}

