<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Distri-Lugano</ion-list-header>
          <ion-note>distriLugano10@gmail.com</ion-note>
          <ion-menu-toggle auto-hide="false">
            <ion-item  lines="none" routerLink="./crear-cliente">
              <ion-icon slot="start" icon="accessibility-outline"></ion-icon>
              <ion-label>Crear Cliente</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item  lines="none" routerLink="./crear-producto">
              <ion-icon slot="start" icon="bag-handle-outline"></ion-icon>
              <ion-label>Crear Producto</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item  lines="none" routerLink="./crear-pedido">
              <ion-icon slot="start" icon="bag-outline"></ion-icon>
              <ion-label>Crear Pedido</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item  lines="none" routerLink="./crear-repartidor">
              <ion-icon slot="start" icon="bicycle-outline"></ion-icon>
              <ion-label>Crear Repartidor</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item  lines="none" routerLink="./contacto">
              <ion-icon slot="start" icon="call-outline"></ion-icon>
              <ion-label>Contacto</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()" lines="none">
              <ion-icon slot="start" icon="log-out"></ion-icon>
              <ion-label>Cerrar Sesion</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
       
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
